<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./profile-templates/style-index.css">
</head>
<body>
<div class = "container" >
<h1 style="margin-top: 20px">Resume portal</h1>
<p><a href="/edit">Click here</a> to create your own online resume</p>
</div>
</body>
</html>